# Виртуальное окружение
.venv/
venv/
env/

# Бай-код и кэш Python
__pycache__/
*.pyc

# Файлы конфигурации с паролями (ОЧЕНЬ ВАЖНО)
.env
config.py

# Логи и базы данных
*.log
*.sqlite3

# Системные файлы
.DS_Store
composite_strategy.json
